{% extends "base.html" %}
{% block titulo %} Agregar producto {% endblock %}
{% block contenido_principal %}
<h2>Agregar producto</h2> <form class="form-horizontal" method="post" action="/producto" encType="multipart/form-data">
    <div class="form-group">
        <label class="control-label col-sm-2" for="nombre">Nombre:</label>
        <div class="col-sm-10"> <input id="nombre" type="text" class="form-control" name="nombre"
                                       placeholder="Nombre de mi Producto" required="true" />
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-sm-2" for="descripcion">Descripcion:</label>
        <div class="col-sm-10"> <input id="descripcion" type="text" class="form-control" name="descripcion"
                                       placeholder="descripcion de mi Producto" required="true" />
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-sm-2" for="precio">Precio (€):</label>
        <div class="col-sm-10"> <input id="precio" type="number" class="form-control" name="precio"
                                       placeholder="2.50" required="true" />
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-sm-2" for="imagen">Imagen portada:</label>
        <div class="col-sm-10"> <input id="imagen" type="text" class="custom-file-input" name="imagen" />
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button id='btn' type="submit" class="btn btn-primary">Agregar</button>
        </div>
    </div>
</form>
{% endblock %}
